<div class="show-cash-donor">
    <div class="container-fluid">
        <h1><%= @cash_donor.day_claimed.strftime("%B %d, %Y") %></h1>
        <h3>Claimed by <%= @cash_donor.name %></h3>
        <p class="message">From <%= @cash_donor.name %>: "<%= @cash_donor.message %>"</p>
        
        <div class="nav-back">
            <p><%= link_to 'Back to calendar', days_path %></p>
            <% if user_signed_in? && current_user.admin? %>
                <p><%= link_to 'Edit This Cash Donor\'s Info', edit_cash_donor_path(@cash_donor) %></p>

                <p><%= link_to 'Delete', @cash_donor, method: :delete, data: { confirm: 'Are you sure about this?' } %></p>
            <% end %>
        </div>
    </div>
</div>
