<div class="show-day">
    <div class="container-fluid">
        <h1><%= @claimed_day.date.strftime("%B %d, %Y") %></h1>
        <h3>Claimed by <%= @claimed_day.name %></h3>
        <p class="message">From <%= @claimed_day.name %>: "<%= @claimed_day.message %>"</p>
        
        <% if user_signed_in? %>
            <% if current_user.id === @claimed_day.user_id && @claimed_day.donation_confirmed == false %>
                <div class="widget-container">
                    <p>Please complete your donation using the Fractured Atlas payment system below. Your date claim will be reserved as pending until Orbiter 3 receives receipt of your donation.</p>
                    <div id="donation"></div>
                    <p>(Thank you for donating! This message will dissappear once Orbiter 3 has confirmed your payment.)</p>
                </div>
            <% end %>
        <% end %>
        
        <div class="nav-back">
            <p><%= link_to 'Back to calendar', days_path %></p>
            <% if user_signed_in? && current_user.admin? %>
                <p><%= link_to 'Delete', @claimed_day,
                                       method: :delete,
                                       data: { confirm: 'Are you sure about this?' } %></p>
            <% end %>
        </div>
    </div>
    <% if user_signed_in? %>
         <!--<p>current user: <%= current_user.id %> / claimed user: <%= @claimed_day.user_id %></p> -->
    <% end %>
</div>