<div class="simple-calendar">
  <div id="month-nav" style="text-align: center;">
    <h1>the oCal</h2>
    <ul style="padding: 0;">
      <li class="previous-month" style="display: inline;"><%= link_to "<", start_date: date_range.first - 1.day %></li>
      <li style="display: inline;" id="current-month"><%= I18n.t("date.abbr_month_names")[start_date.month] %> <%= start_date.year %></li>
      <li class="next-month" style="display: inline;"><%= link_to ">", start_date: date_range.last + 1.day %></li>
    </ul>
    <% if user_signed_in? == false %>
      <h4>Please sign in above in order to use the calendar</h4>
    <% end %>
  </div>
  
  <script type="text/javascript">
        setCurrentMonth();
  </script>
  
  <div class="container-fluid">
    <div class="cal-row"> 
      <% date_range.slice(0, 7).each do |day| %>
        <div class="weekdays">
          <h4><%= I18n.t("date.abbr_day_names")[day.wday] %></h4>
        </div>
      <% end %>
    </div> 

    <% date_range.each_slice(7) do |week| %>
      <div class="cal-row">
        <% week.each do |day| %>
          <%= content_tag :div, class: [calendar.td_classes_for(day)] do %>
            <!-- this is where we put things for each day -->
            <p class="day-date-raw"><% block.call day, sorted_events.fetch(day, []) %></p>
            <script type="text/javascript">
                // setDayDate();
                // setDayHeight();
                // blockApril();
            </script>
            
            <% claimed_day = Day.find_by_date(day) %>
            <% cash_donor  = CashDonor.find_by_day_claimed(day)%>
            
            <% # Cash donor  %>
            <% if cash_donor %>
              <% # Link to Day view for cash donor %>
              <p class="claimed-info"><%= link_to 'View Day', cash_donor_path(cash_donor) %></p>
              <div class="claimed-trigger"></div>
              <script type="text/javascript">
                addClaimedClass();
              </script>
              
            <% # Regular user %>
            <% elsif claimed_day %>
              <% # Link to Day view for regular user %>
              <p class="claimed-info"><%= link_to 'VIEW', day_path(claimed_day) %></p>
              
              <div class="claimed-trigger"></div>
              <script type="text/javascript">
                addClaimedClass();
              </script>
            <% else %>
            
              <% # Link to Unclaimed Day view for regular user %>
              <% if user_signed_in? %>
                <p id="unclaimed-link"><%= link_to 'CLAIM', show_unclaimed_days_path(day) %></p>
                 
              <% end %>            
            <% end %>
            <p class="day-date-output"></p>
          <% end %>
        <% end %>
        <script type="text/javascript">
                setDayDate();
                setDayHeight();
                blockApril();
        </script>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    clickClaimed();
</script>