<div class="simple-calendar">
  <%= link_to "Previous", start_date: date_range.first - 1.day  %>
  <%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %>
  <%= link_to "Next", start_date: date_range.last + 1.day  %>

  <div class="container-fluid">
    <div class="row">
        <% date_range.slice(0, 7).each do |day| %>
          <div class="col-sm-1">
            <h3><%= I18n.t("date.abbr_day_names")[day.wday] %></h3>
          </div>
        <% end %>
    </div>

    <div class="container">
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <!-- this is where we put things for each day -->
              <% claimed_day = Day.find_by_date(day) %>
              <% cash_donor  = CashDonor.find_by_day_claimed(day)%>
              
              <% # Cash donor  %>
              <% if cash_donor %>
               <p>Claimed by: <%= cash_donor.name %></p>
               
               <% # Link to Day view for cash donor %>
               <p><%= link_to 'View day for cash donor', cash_donor_path(cash_donor) %></p>
              
              <% # Regular user %>
              <% elsif claimed_day %>
                <p>Claimed by: <%= claimed_day.user.email %></p>
                
                <% # Link to Day view for regular user %>
                <p><%= link_to 'View day for regular user', day_path(claimed_day) %></p>
                
                <% if user_signed_in? && claimed_day.user == current_user %>
                  <% tweeted_day = day.strftime('%a, %d %b, %Y')  %>
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://google.com" data-text="Yo! The Button works. Do not press. <%= tweeted_day %>" data-via="syzygygerund" data-size="large" data-hashtags="thisisthetest">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <% end %>
              <% else %>
              
                <% # No view at the moment for unclaimed day %>
                <% if user_signed_in? %>
                    <p><%= link_to 'View Day', show_unclaimed_days_path(day) %></p>
                <% end %>            
              <% end %>
              <% if defined?(Haml) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </div>
  </div>
</div>
